{{#section 'head'}}
<link rel="stylesheet" href="/public/css/admin-user.css">
<link rel="stylesheet" href="/public/css/lds-ripple.css">
<link rel="stylesheet" href="/public/css/lds-roller.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.13.0/dist/sweetalert2.min.css">
{{/section}}

{{#section 'footer'}}
<script src="/public/js/lds-roller.js"></script>
<script src="/public/js/admin-user.js"></script>
<script src="/public/js/table-sort.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.13.0/dist/sweetalert2.min.js"></script>
{{/section}}

<div class="row mb-4">
  <div class="col-sm-6 form-group mx-auto">
    <label class="label">Role</label>
    <select name="role-filter" class="form-control selectpicker filter" data-live-search="true" id="role-filter">
      <option value="-1" {{#ifeq role -1}}selected{{/ifeq}}>All</option>
      <option value="0" {{#ifeq role 0}}selected{{/ifeq}}>Student</option>
      <option value="1" {{#ifeq role 1}}selected{{/ifeq}}>Teacher</option>
      <option value="2" {{#ifeq role 2}}selected{{/ifeq}}>Admin</option>
    </select>
  </div>
</div>

<table id="main-table" class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th class="sort-col" scope="col">
        <span>ID </span>
        <i class="align-middle sort-icon" data-feather="chevron-up" style="padding-bottom: 5px;"></i>
      </th>
      <th class="sort-col" scope="col">
        <span>Name </span>
        <i class="align-middle sort-icon" data-feather="chevron-up" style="padding-bottom: 5px;"></i>
      </th>
      <th class="sort-col" scope="col">
        <span>Email </span>
        <i class="align-middle sort-icon" data-feather="chevron-up" style="padding-bottom: 5px;"></i>
      </th>
      <th class="sort-col" scope="col">
        <span>Date Created </span>
        <i class="align-middle sort-icon" data-feather="chevron-up" style="padding-bottom: 5px;"></i>
      </th>
      <th class="sort-col" scope="col">
        <span>Role </span>
        <i class="align-middle sort-icon" data-feather="chevron-up" style="padding-bottom: 5px;"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr onclick="showDetail({{UserID}})">
      <th class="user-id" scope="row">{{UserID}}</th>
      <td>{{DisplayName}}</td>
      <td>{{Email}}</td>
      <td>{{formatDate DateCreated}}</td>
      <td>{{changeDisplayRoleType Role}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="w-100 d-flex justify-content-center">
  <button type="button" class="btn btn-primary w-75" id="add-btn" onclick="showNewForm()">
    Create New User
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="userFormModal" tabindex="-1" role="dialog" aria-labelledby="userFormLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center col-12" id="userFormLabel">
          User
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </h5>
      </div>
      <div class="modal-body px-lg-5 pt-4">
        <form name="userForm" id="userForm" onsubmit="submitUserForm(); return false;">
          <div class="col-sm-12">
            <div class="avt-div d-flex justify-content-center">
              <img id="avt-preview" src="/public/img/product/product-2.jpg" height="152px" width="152px">
              </img>
              <div class="position-absolute btn-bottom">
                <label for="input-edit-avt">
                  <i data-feather="edit-3"></i>
                </label>
                <input id="input-edit-avt" type="file">
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6 form-group">
                <label class="label">First name</label>
                <input name="firstName" type="text" placeholder="Nguyễn Văn" class="form-control" required="">
              </div>
              <div class="col-sm-6 form-group">
                <label class="label">Last name</label>
                <input name="lastName" type="text" placeholder="A" class="form-control" required="">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 form-group">
                <label class="label">Display Name</label>
                <input name="displayName" type="text" placeholder="Nguyễn Văn A" class="form-control" required="">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 form-group">
                <label class="label">Email</label>
                <input name="email" type="email" placeholder="nguyenvana@gmail.com" class="form-control" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 form-group">
                <label class="label">Password</label>
                <input name="password" placeholder="*" type="password" class="form-control" required="">
              </div>
              <div class="col-sm-6 form-group">
                <label class="label">Wallet</label>
                <input name="wallet" type="tel" placeholder="1_000_000" class="form-control" minlength="0"
                  maxlength="15" pattern="^[0-9]+$" required="">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 form-group">
                <label class="label">Date Created</label>
                <input name="dateCreated" type="date" class="form-control" max="2002-12-31" min="1959-01-01"
                  data-date-format="dd/mm/yyyy" placeholder="23/01/1998" required="">
              </div>
              <div class="col-sm-6 form-group">
                <label class="label">Role</label>
                <select name="role" class="form-control selectpicker filter" data-live-search="true" id="role">
                  <option value="0">Student</option>
                  <option value="1">Teacher</option>
                  <option value="2">Admin</option>
                </select>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-lg" id="register-btn">Register</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="edit-btn" onclick="editUser()" type="button" class="btn btn-secondary">Update</button>
        <button id="remove-btn" onclick="removeUser()" type="button" class="btn btn-primary">Remove</button>
      </div>
    </div>
  </div>
</div>

{{#ifemp users}}
<h3 class="text-center">No data available</h3>
{{/ifemp}}

{{>pagination}}

{{!-- <div class="lds-ripple">
  <div></div>
  <div></div>
</div> --}}
<div class="lds-roller">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>