    {{#each users}}
    <tr onclick="showDetail({{ID}})">
      <th scope="row">{{ID}}</th>
      <td>{{Name}}</td>
      <td>{{Email}}</td>
      <td>{{formatDate DateCreated}}</td>
      <td>{{changeDisplayRoleType Role}}</td>
    </tr>
    {{/each}}