{{!-- Danh sach khoa hoc da dang ky va trang thai
 --}}


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="public/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Registered List</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Registered list</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Courses</th>
                                    <th>Status</th>
                                    <th>Study</th>
                                    <th>Date registered</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if isEmpty}}
                                <tr>
                                    <th>You dont have any course</th>
                                </tr>
                                {{else}}
                                {{#each my_courses}}
                                <tr>
                                    <td class="shoping__cart__item">
                                        <a href="/detail/{{CourseID}}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="public/img/user/registered_list/rl-1.jpg" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{CourseName}} - {{DisplayName}}</h6>
                                                {{!-- <div class="rating"> --}}
                                                    {{!-- <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> --}}
                                                    <p>{{Point}}/5 ({{Count}} reviews)</p>
                                                    
                                                {{!-- </div>     --}}
                                                <span>${{Price}}</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="shoping__cart__price">
                                        {{#if State}}Completed{{else}}Studing{{/if}}
                                    </td>
                                    <td>
                                        <strong><a href="study/{{CourseID}}">LEARN</a></strong>
                                    </td>
                                    <td >
                                        <div class="blog__item__text">
                                            <ul>
                                                <li><i class="fa fa-calendar-o"></i> {{formatDate DateModified}}</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
