{{!-- thay doi thong tin (email, name, password)
 --}}
 {{#section 'js'}}
 <script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
{{/section}}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/public/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Edit Profile</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Edit Profile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- User Profile Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Information</h4>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="product__details__pic">
                                <div class="product__details__pic__item">
                                    <img id="output" class="product__details__pic__item--large"
                                        src="/public/img/ava/{{user.Avatar}}.jpg" alt="">
                                </div>
                                <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                                <label for="file" style="cursor: pointer;" class="primary-btn">Change Image</label>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name</p>
                                        <input type="text" name="FirstName" placeholder="First Name" value="{{user.FirstName}}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name</p>
                                        <input type="text" name="LastName" placeholder="Last Name" value="{{user.LastName}}">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Display Name</p>
                                <input type="text" name="DisplayName" placeholder="Display Name" value="{{user.DisplayName}}">
                            </div>
                            <div class="checkout__input">
                                <p>Email</p>
                                <input type="email" name="Email" placeholder="Email" value="{{user.Email}}">
                            </div>
                            <div class="checkout__input">
                                <p>New Password</p>
                                <input type="password" name="NewPassword" placeholder="Dont fill it if you dont change password">
                            </div>
                            <div class="checkout__input">
                                <p>Old Password <span>*</span></p>
                                <input type="password" name="OldPassword" placeholder="Please enter Old password to do" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shoping__cart__btns">
                                <button type="submit" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                                    Upadate Profile</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- User Profile Section End -->

