{{!-- thay doi thong tin (email, name, password)
 --}}

{{!-- thay doi thong tin (email, name, password)
 --}}


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/public/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Profile</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Profile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- User Profile Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Information</h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Avatar</h4>
                            <div><img src="/public/img/{{user.Avatar}}.jpg" alt="avatar"></div>
                            <h4><button onclick="location.href='/user/edit'" class="site-btn">Edit Profile</button></h4>
                        </div>
                    </div>
                    <div class="col-lg-8 col-lg-6">
                        <div class="checkout__order">
                            <h4>Your Info</h4>
                            <div class="checkout__order__products">Name</div>
                            <ul>
                                <li>First Name: <b>{{user.FirstName}}</b></li>
                                <li>Last Name: <b>{{user.LastName}}</b></li>
                                <li>Display Name:  <b>{{user.DisplayName}}</b> </li>
                            </ul>
                            <div class="checkout__order__products">Email </div>
                            <p>{{user.Email}}</p>
                            <div class="checkout__order__total">Wallet <span>${{user.Wallet}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        {{#if isTeacher}}
        <p>Danh sach cac khoa hoc o day</p>
        {{/if}}
        </div>
    </section>
    <!-- User Profile Section End -->
