    {{!-- Danh sach khoa hoc yeu thich (xoa & xem chi tiet khoa hoc) --}}
    
    
    
    
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/public/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Watch List</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Watchlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Courses</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if isEmpty}}
                                <tr>
                                    <th>You dont have any course</th>
                                </tr>
                                {{else}}
                                {{#each my_courses}}
                                <tr>
                                    <td class="shoping__cart__item">
                                        <a href="/detail/{{CourseID}}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="/public/img/{{Avatar}}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{CourseName}} - {{DisplayName}}</h6>
                                                <div class="rating">
                                                    <i class="fa fa-star">{{Point}}/5 </i>
                                                    ({{Count}} Reviews)
                                                </div>    
                                                <span>${{Price}}</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <a href="javascript:deleteWish({{CourseID}})"><span class="icon_close"></span></a>
                                    </td>
                                </tr>
                                {{/each}}
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
